# Virtual environment
.venv/

# Private data files and directories
data/active_thread.json
data/context/
data/chatbox_display_threads/
data/chatbox_display_threads/default.json
data/memory.json

# Vector store directory
vector_store/

# Python Stuff
__pycache__
core/__pycache__
utils/__pycache__
modules/__pycache__
